/* font-family: 'Playfair Display', serif;
font-family: 'Square Peg', cursive; */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

:root {
    --title-font:'Major Mono Display', monospace;
    --content-font: 'Playfair Display', serif;
}

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html {
    scroll-behavior: smooth;
}

body {
    background-color: #2D3142;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: rgb(163, 163, 163);
}
a:hover {
    color: rgb(213, 213, 213);
    text-shadow: 5px;
}

.top-head, .mobile-head {
    position: fixed;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(238, 238, 238);
    box-shadow: 0em 0.1em 0.5em 0.1em rgb(205, 205, 205);
}

.top-head-splash {
    position: fixed;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(44, 44, 44);
    box-shadow: 0em 0.1em 0.1em 0.1em rgb(35, 35, 35);
}

.mobile-head {
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(41, 41, 41, 0.836);
}

.site-name, .mobile-name {
    height: 5vh;
    display: flex;
    align-items: center;
    font-family: var(--title-font);
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    width: fit-content;
    padding: 0vw 1vw;
    flex-wrap: wrap;
}

.mobile-name {
    font-size: 2rem;
    height: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.top-nav, .mobile-nav {
    font-family: var(--content-font);
    display: flex;
    justify-content: center; 
    padding: 0;
    margin-right: 50px;
    list-style: none;
    
}

.mobile-nav {
    margin-top: 2rem;
    flex-direction: column;
    margin-right: 0px;
}

.menu-icon {
    color: rgb(89, 89, 89);
    font-size: 1.75rem;
    cursor: pointer;
    display: none;
}

ul {
    margin: 0;
}

.nav-item-container, .nav-icon, .close-icon, .mobile-nav,
.mobile-nav-item-container, .mobile-nav-item, .mobile-nav-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px 10px;
    text-decoration: none;
    color: white;
}

.nav-item {
    color: rgb(184, 184, 184);
    width: 50px;
    display: flex;
    justify-content: center;
}

.mobile-nav-item {
    margin: 0;
}

.nav-item:hover, .menu-icon:hover, .close-icon:hover, .mobile-nav-item:hover {
    color: rgb(27, 27, 27);
    cursor: pointer;
}

.earth-icon:hover {
    color: rgb(0, 235, 0);
}

.rocket-icon:hover{
    color: rgb(255, 0, 81);
    text-shadow:#2D3142;
    ;
}

.news-icon:hover {
    color: rgb(0, 89, 255);
}
.close-icon {
    font-size: 3rem
}

#home-banner {
    background-image: url(../images/image-of-galaxy-and-stars-homepage.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-container, .planets-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-banner-image {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planets-bkg {
    background-color: #3c3c3d;
    height: 100vh;
    width: 100vw;
    padding-top: 2rem;
}

.planet-img-container {
    width: auto;
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1em;
    /* margin-top: 1.5rem; */
}

.ind-planet-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 1rem;
    width: 9vw;
    height: 20vh;
    cursor: pointer;
    padding-bottom: 1rem;
}

.ind-planet-container:hover {
    box-shadow: 0em 0.1em 0.5em 0.1em rgba(0, 0, 0, 0.421);
}

.ind-planet-container:active {
    box-shadow: 0em 0.1em 1em 0.1em rgb(192, 255, 3);
}

.ind-planet {
    height: auto;
    width: 100px;
    padding: 0.5rem;
}

.planet-name, .planet-name-info, .planet-info {
    font-family: var(--content-font);
    color: rgb(219, 219, 219);
}

.planet-info-container {
    height: 76vh;
    background-color:#282828;
    border-top: 2px rgb(66, 66, 66) solid;
    box-shadow: 0em -0.1em 0.1em 0.1em rgb(35, 35, 35);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
}

.planet-img-info-panel {
    text-align: center;
    /* width: 80%; */
}

.planet-img {
    width: 70%;
}

.loading-title-container {
    width: 100%;
    text-align: center;
}

.welcome-title, .loading-title {
    font-family: var(--content-font);
    color: white;
    font-size: 3rem;
    padding: 2vw;
}

.bgn-btn {
    font-size: 1rem;
    line-height: 1.5;
    height: 50px;
    width: 10rem;
    background: none;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    font-family: var(--title-font);
    color: white;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: inline-flex;

}

.bgn-btn:hover {
    color: black;
    box-shadow: 0em 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.551);
    transform: translateY(0.05em);
    transition: ease-in-out 100ms;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 lime}
}

.bgn-btn:hover {
    cursor: pointer;
    border: 2px solid lime;
    background-color: lime;
}

.welcome-title-black {
    font-family: var(--content-font);
    color: black;
    font-size: 3rem;
    padding: 5vw;
}

#space-travel {
    border-top: 5px solid white;
    background-image: url(../images/astronaut-burning-red-flame.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#news {
    border-top: 5px solid white;
    background-image: url(../images/aerial-sateliote-image-desert.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #495057;
    border-top: 5px solid white;
    height: 30vh;
}

.burger-menu {
    display: none;
}

@media only screen and (max-width: 1250px) {
    .ind-planet-container {
        border-radius: 5px;
        margin: 0.5rem;
        width: 9vw;
    }

    .ind-planet {
        height: auto;
        width: 75px;
        padding: 0.2rem;
    }

    .planet-name {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 900px) {
    .welcome-title-black, .welcome-title {
        font-size: 2.5rem;
    }
    .site-name {
        font-size: 1.1rem;
        margin-left: 1rem;
    }
    .top_nav {
        padding: 0;
        margin-right: 1rem;
        list-style: none;
    }
    
    .nav-item-container {
        padding: 5px;
        margin: 0.2rem 0.2rem;
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
    }

}

@media only screen and (max-width: 770px) {
    
    .welcome-title-black, .welcome-title {
        font-size: 1.5rem;
    }

    .site-name {
        font-size: 0.9rem;
    }

    .start-btn-container {
        width: 5rem;
    }

    .nav-item-container {
        display: none;
    }

    .menu-icon, .burger-menu {
        display: block;
    }

    .top-nav {
        margin-right: 1rem;
    }

    .mobile-head {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        box-shadow: 0em 0.1em 0.1em 0.1em rgb(35, 35, 35);
    }

    .mobile-nav {
        font-size: 0.8rem;
        font-family: var(--title-font);
    }

    .mobile-nav-item-container {
        padding: 0;
    }

    .mobile-nav-item:hover {
        color: inherit;
    }

    i {
        padding-right: 5px;
    }

    .mobile-name {
        font-size: 1rem;
        margin-top: 3px;
        margin-left: 10px;
        color: goldenrod !important;
    }

    .close-icon {
        font-size: 2rem;
    }

    .planet-img-container {
        align-content: stretch;
        height: 20vh;
    }

    .planet-info-container {
        height: 65vh;
    }

    .ind-planet-container {
        border-radius: 5px;
        margin: 0.5rem;
        width: 50px;
        height: 15vh;
        cursor: pointer;
        padding-bottom: 1rem;
    }

    .ind-planet {
        height: auto;
        width: 50px;
        padding: 0.2rem;
    }

    .planet-name {
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 565px) {
    .planet-img-container {
        height: 200px;
    }
}


@media only screen and (max-width: 380px) {
    .planet-img-container {
        height: 30vh;
        width: 100%;
    }

    .ind-planet {
        display: none;
    }

    .ind-planet-container {
        height: 5vh;
    }
}

.hide, .hide > * {
    display: none;
}