/* font-family: 'Playfair Display', serif;
font-family: 'Square Peg', cursive; */

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-color: #2D3142
}

a {
    text-decoration: none;
    color: rgb(239, 239, 239);
}
a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 5px;
}

#top_head {
    position: fixed;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(41, 41, 41, 0.194);
}

#site-name {
    height: 10vh;
    display: flex;
    align-items: center;
    font-family: 'Square Peg';
    color: #000;
    font-size: 3rem;
    width: fit-content;
    padding: 0vw 1vw;
    flex-wrap: wrap;
}

#top_nav {
    font-family: Playfair Display;
    display: flex;
    justify-content: center; 
    padding: 0;
    margin-right: 50px;
    list-style: none;
}

.nav-item {
    padding: 5px;
    margin: 10px 10px;
    text-decoration: none;
    color: white;
}

.nav-bar {
    color: white;

}

#home-banner {
    background-image: url(../images/image-of-galaxy-and-stars-homepage.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-banner-image {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-title {
    font-family:Playfair Display;
    color: white;
    font-size: 3rem;
    padding: 2vw;
}


.start-btn-container {
    color: white;
    padding: 5px;
    width: auto;
    height: auto;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bgn-btn {
    height: auto;
    font-size: 1.2rem;
    padding: 0 50px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-family:Playfair Display;
}


.start-btn-container:hover {
    cursor: pointer;
    border: 2px solid rgb(115, 255, 0);
    transform: scale(1.02);
    transition: 100ms ease-in-out;
    background-color: rgb(115, 255, 0);
}

.welcome-title-black {
    font-family:Playfair Display;
    color: black;
    font-size: 3rem;
    padding: 5vw;
}

#education {
    border-top: 5px solid white;
    background-image: url(../images/astronaut-burning-red-flame.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contact {
    border-top: 5px solid white;
    background-image: url(https://images.unsplash.com/photo-1451186242394-2b461812025b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #495057;
    border-top: 5px solid white;
    height: 30vh;
}

@media only screen and (max-width: 900px) {
    .welcome-title-black, .welcome-title {
        font-size: 2.5rem;
    }
    #site-name {
        font-size: 2rem;
        margin-left: 1rem;
    }
    #top_nav {
        padding: 0;
        margin-right: 1rem;
        list-style: none;
    }
    
    .nav-item {
        padding: 5px;
        margin: 0.2rem 0.2rem;
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 650px) {
    
    .welcome-title-black, .welcome-title {
        font-size: 1.5rem;
    }

    #site-name {
        font-size: 1.5rem;
    }

    .start-btn-container {
        width: 5rem;
    }
}

@media only screen and (min-width: 1400px) {

}

.hide>* {
    display: none;
}