/* font-family: 'Playfair Display', serif;
font-family: 'Square Peg', cursive; */

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-color: #2D3142
}

a {
    text-decoration: none;
    color: rgb(239, 239, 239);
}
a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 5px;
}

#top_head {
    position: fixed;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(41, 41, 41, 0.194);
}

.name {
    height: 10vh;
    display: flex;
    align-items: center;
    font-family: 'Square Peg';
    color: #000;
    font-size: 50px;
    width: fit-content;
    padding: 0vw 1vw;
    flex-wrap: wrap;
    color: white;
}

#top_nav {
    font-family: Playfair Display;
    display: flex;
    justify-content: center; 
    padding: 0;
    margin: 5px 5px;
    list-style: none;
}

.nav-item {
    padding: 5px;
    margin: 10px 10px;
    text-decoration: none;
    color: white;
}

.nav-bar {
    color: white;

}

.portfolio {
    background-image: url(../images/image-of-galaxy-and-stars-homepage.jpg);
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.welcome-title {
    font-family:Playfair Display;
    color: white;
    font-size: 50px;
}

.welcome-title-black {
    font-family:Playfair Display;
    color: black;
    font-size: 50px;
}

.education {
    border-top: 5px solid white;
    background-image: url(../images/astronaut-burning-red-flame.jpg);
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact {
    border-top: 5px solid white;
    background-image: url(https://images.unsplash.com/photo-1451186242394-2b461812025b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80);
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #495057;
    border-top: 5px solid white;
    height: 30vh;
}